
p,ul,ol,dl,menu,pre,div,body,section,header{
  margin: 0;
  padding: 0;
}
/*____box-sizing reset; keep padding & border within size____*/
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html{
  font-size: 16px;
}
body{
  display: flex;
  justify-content: center;
  background: palevioletred
}
main{
  background: pink;
  width: 90%;
  height: 550px;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  
}
.content{
  width: 70%;
  height: 30rem;
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header{
  width: 60%;
  
  color: seagreen;
  z-index: 2;
}
header span{
  font-size: 2rem;
  background: orangered;
}
.test{
  width: 50px;
  height: 25px;
  background: red;
  position: absolute;
  top: 12rem;
  right: 3rem;
  z-index: 3;
}
.holder{
  background: silver;
  width: 600px;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.box p{
  width: 28%;
  height: 6.25rem;
  padding: 2rem;
  border: 1rem dashed blue;
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


/*___________ Header Style ___________*/
header{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  position: fixed;
  width: 750px; /*with position absolute, width needs to be set*/
  height: 4rem;
  background-color: peachpuff;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 80px;
}
/*  background-color: yellow;  */

nav{
  display:flex;
  margin-right: 1rem;
/* background-color: beige;  */
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
/* background-color: silver;*/
}
nav li{
  margin: 0 .8rem;
/*  background-color: aqua;  */
}
a{
  color: green;
}

/*
.equal-height-container{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.first{
  background-color: #FFF;
  padding: 20px;
  flex: 1;
}

.second{
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-a{
  background-color: #c0dbe2;
  flex: 1;
}

.second-b{
  background-color: #cdf1c3;
  flex: 1;
}

debug GHOST code 

 *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
